<h3> Selector colour </h3>

<button (click)="logColourSelected()"> show log </button>

<input type="text" [(ngModel)]="colour_selected"/>

<pre [style.border]="colour_selected == 'red' ? '5px solid black' : '1px solid green'">
	<strong> Selected Colour: </strong>
	{{colour_selected}}
</pre>

<div [ngStyle]="{
		'background': colour_selected, 
		'width': '200px',
		'height': '200px',
		'float': 'right',
		'margin-right': '59%'
	}">
</div>

<div style="clear:both"> </div>
	


<br/><br/>
<hr/>

<strong> Employee Start </strong>

<div *ngIf="work_external == true">
<br><br>

	<button (click)="changeExternal(false)"> Show employee </button>

	<ul >
		<li> {{employees[0].name}}</li>
		<li> {{employees[0].age}}</li>
		<li> {{employees[0].position}}</li>
		<li *ngIf="employees[0].hired == true"> He is hired </li>
		<li *ngIf="employees[0].hired == false"> He is not hired </li>
	</ul>
</div>


<div *ngIf="work_external == false"> 
	
	<button (click)="changeExternal(true)"> Show worker </button>

	<ul>
		<li> {{employee.name}}</li>
		<li> {{employee.age}}</li>
		<li> {{employee.position}}</li>
		<li> {{employee.hired}}</li>
		<li *ngIf="employee.hired == true"> He is hired </li>
		<li *ngIf="employee.hired == false"> He is not hired </li>
	</ul>

</div>

<hr/>

<h3> List of workes </h3>

<ul>
	<li *ngFor="let worker of employees; let i =index">
		<strong> Worker {{i+1}} </strong>
		<ul>
			<li> {{worker.name}}</li>
			<li> {{worker.age}}</li>
			<li> {{worker.position}}</li>
			<li *ngIf="worker.hired == true"> He is hired </li>
			<li *ngIf="worker.hired == false"> He is not hired </li>
		</ul>
	</li>
</ul>

<hr/>

<h3> Colours Switch </h3>

<ul [ngSwitch]="colour">
	<li *ngSwitchCase="'red'" 
		[ngStyle]="{
			'background': colour, 
			'color': 'white',
			'padding': '20px'
		}"> 
			it's red 
	</li>

	<li *ngSwitchCase="'green'" 
		[ngStyle]="{
			'background': colour, 
			'color': 'white',
			'padding': '20px'
		}"> 
			it's green 
	</li>

	<li *ngSwitchCase="'blue'" 
		[ngStyle]="{
			'background': colour, 
			'color': 'white',
			'padding': '20px'
		}"> 
			it's blue 
	</li>

</ul>