<h1> Component Car </h1>

<style type="text/css" media="screen">

.list{
	margin-left: 70px;
}

div{
	float: left;
}

form{
	width: 200px;
}

input[type="text"], span {
	display: block,
	width: 100%;
}
	
</style>

<div>

	<form #formCar="ngForm" (ngSubmit)="onSubmit(); formCar.reset();">
		
		<p>
			<label>
				Name: 
			</label>

			<input type="text" name="name" #name="ngModel" [(ngModel)]="car.name" required >

			<span *ngIf="name.touched && !name.valid">
				Field name no valid
			</span>
		</p>
		
		<p>
			<label>
				Horse: 
			</label>

			<input type="text" name="horse" #horse="ngModel" [(ngModel)]="car.horse" required pattern="[0-9]+">

			<span *ngIf="horse.touched && !horse.valid">
				Field horse no valid
			</span>
		</p>

		<p>
			<label>
				Colour: 
			</label>

			<input type="text" name="colour" #colour="ngModel" [(ngModel)]="car.colour" required pattern="[a-zA-Z#]+">

			<span *ngIf="colour.touched && !colour.valid">
				Field colour no valid
			</span>
		</p>

		<input type="submit" value="Save" [disabled]="!formCar.form.valid">

	</form>

</div>

<div class="list">

	<h4> Car list </h4>

	<ul>
		<li *ngFor="let car of cars; let i = index"> 
			{{car.name}} - {{car.horse}} - {{car.colour}}
		</li>
	</ul>
	
</div>